#background {
	background: aliceblue;
}

img body {
	margin-left: auto;
	margin-right:auto;
}

header {
	background: aliceblue;
	color: slategray;
	font-family: garamond;
	font-size: 2em;
	padding: 10px;
	margin-bottom: 20px;
}

iframe{
	/* width: 100%; */
	width: 100% !important;
	height: 533px;
	overflow: hidden;
	}
	
iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
} 

img iframe {
	display: block;
	max-width: 800px;
	overflow: hidden;
	}

.slickQuiz{
	width: 100%;
	}
	
#zoom {
	display:inline;
	position: relative;
	float:left;
	margin-left: -70px;
	margin-top: 400px;
}

li #zoom {
	display:inline;
	position: relative;
	float:left;
	margin-left: -70px;
	margin-top: 400px;
}

.bookshelf {
  display: inline;
  float: left;
  position:absolute;
  max-width: 100%;
  /* top: 235px; */
  top: 55%;
  left: 55%;
  }

.tip1 {
  display: inline;
  float: left;
  position:absolute;
  max-width: 100%;
  /* top: 235px; */
  top: 33%;
  left: 22%;
}

/* img .tip1 {
	max-width: 20%;
	height: auto;
	} */
	
img .tips {
	max-width: 100%;
	overflow: hidden;
}


.tips {
	overflow: hidden;

}

.container {
  position: relative;
/*   height: 100%; */
  overflow: hidden;
}

#history {
	font-family: Garamond;
	font-size: 1.1em;
	color: #2f4f4f;
}

h1 #history {
	font-size: 1.3em;
	
}

/*#slide6 {
	background-image: url("images/3.jpg");
	height: 667px;
}
*/